@font-face {
    font-family: 'HvDTrial_Brandon_Grotesque_light'; 
    src: url("/static/fonts/brandon_grotesque/HvDTrial_Brandon_Grotesque_light.otf") format("opentype");
    font-style: normal;
}

@font-face {
    font-family: 'HvDTrial_Brandon_Grotesque_regular'; 
    src: url("/static/fonts/brandon_grotesque/HvDTrial_Brandon_Grotesque_regular.otf") format("opentype");
    font-style: normal;
}

html { 
	visibility:hidden; 
}

body
{
    color: #566787;background-color:rgb(68, 68, 68);
    /*font-family: "Varela Round", sans-serif;*/    
	font-family: "HvDTrial_Brandon_Grotesque_regular";
    font-size: large;
	
}

.cinzel-400
{
    font-family: 'Cinzel';
    font-size: 1.5em;
    font-weight: 400;
    color:White;
}

.cinzel-800
{
    font-family: 'Cinzel';
    font-size: 5em;
    font-weight: 400;
    color:White;
}

.navigation
{
    height: 45px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: solid white 1px;
}

#main
{
    width: 100%;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
}

footer
{
    position:fixed;
    bottom: 0;
    width:100%;
    height: 50px;
    background-color:rgb(37, 37, 37);
    text-align: center;
    padding-top: 5px;
    color: #7F7F7F;
    font-size:medium;
    padding-top: 3px;
}

.footer-user-name
{
    text-wrap: nowrap ;
}
#brand-icon
{
    margin-left: 4px;
}
.col-sm{
	margin: 4px;
}

/*__________________________________________________________________________
/ Navigation bar styles start                                              /
/__________________________________________________________________________*/

.navbar {
	padding-top: 0 !important;
    padding-bottom: 0 !important;
	background: #ffffff;
	padding-left: 0px;
	padding-right: 0px;
	border-bottom: 1px solid #dfe3e8;
	border-radius: 0;
  }
  
 .navbar .navbar-brand {
	padding-left: 0;
	font-size: 25px;
  
  }
  .navbar .navbar-brand b {
	color: #5c6ac4;		
  }
    
  .navbar .navbar-nav {
	position: relative;
    background-color:rgb(37, 37, 37);
    padding-left: 20px;

  }

  
  
  .navbar a, .navbar a:active {
	color: #888;
	font-size: 17px;
	background: transparent;
  }

  @media (max-width: 768px){
	.navbar .login-form {
        width: 100%;
	    border: none;
	}
   
	.navbar .navbar-nav .btn-secondary, .navbar .navbar-nav .btn-secondary:active {
	  display: block;
	}
  }

  #brand-icon{
    margin-left: 16px;
  }

  .navbar-toggler{
    margin-right: 8px;
    margin-bottom: 2px;
    padding: 2px;
   
}

.navbar-dark{
    margin-bottom: 2px;
    
   /* border-color: rgba(255, 255, 255, .3);*/
}
  
  .navbar .btn-secondary, .navbar .btn-secondary:active {
	color: #fff;
	background: #5c6ac4 !important;
	padding-top: 8px;
	padding-bottom: 6px;
	border-radius: 4px;
	vertical-align: middle;
	border: none;
	min-width: 120px;
	margin: 2px 0;
  }
 
  .navbar .nav-item i {
	font-size: 18px;
  }

  .dropdown-menu{
	padding-top: 5px;
  }

  .dropdown-item{
	padding-left: 5px;
	padding-right: 5px;
  }
  /*____________________________________________________________________________/
  / Navigation bar styles end                                                   /
  ______________________________________________________________________________*/

/* Simbols page */


#main-row{
	margin-top: 50px;
	color: white;
}

.left-column
{
    align-items: center;
    padding-right: 20px;
}

.right-column
{
    padding-left: 10px;
    border: 1px solid white;
    border-radius: 4px;
}

#plots-body
{
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
    margin: 2px;
    flex-grow: 1;
}

#plots-footer
{
    margin: 0px;
    
}
.simbols-list
{
    list-style-type: none;
    align-items: center;
    justify-content: center;
    overflow-y:scroll;
    overflow-x: hidden;
    margin-left: -30px;
}

.simbols-list-border
{
    border: 1px solid white;
    border-radius: 4px;
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    
}
.simbols-list-header
{
    font-size: large;
    justify-content: center;
    text-wrap:wrap ;
}

.search-simbol-input
{
    align-self:center;
    width: calc(100% - 2px);
    margin-left: 2px;
    
    text-transform: uppercase;
    height: 30px;
    font-size: small;
   
    border-radius: 4px;
}
.simbol-button
{
   background-color: #505050;
    width:95%;
    margin: 2px;
    font-size: small;
    
}

.simbol-button:focus
{
    color: orange;
   

}

.simbol-management-buton
{

    padding-top: -5px;
    font-size:medium;
    text-wrap: nowrap ;
    vertical-align:middle;
    margin: 2px;
}