@font-face {
    font-family: 'HvDTrial_Brandon_Grotesque_light'; 
    src: url("/static/fonts/brandon_grotesque/HvDTrial_Brandon_Grotesque_light.otf") format("opentype");
    font-style: normal;
}

@font-face {
    font-family: 'HvDTrial_Brandon_Grotesque_regular'; 
    src: url("/static/fonts/brandon_grotesque/HvDTrial_Brandon_Grotesque_regular.otf") format("opentype");
    font-style: normal;
}


html { 
	visibility:hidden; 
}

body
{
    color: #566787;background-color:rgb(68, 68, 68);
    /*font-family: "Varela Round", sans-serif;*/    
	font-family: "HvDTrial_Brandon_Grotesque_regular";
    font-size: large;
	
}

.cinzel-400
{
    font-family: 'Cinzel';
    font-size: 1.5em;
    font-weight: 400;
    color:White;
}

.cinzel-800
{
    font-family: 'Cinzel';
    font-size: 5em;
    font-weight: 400;
    color:White;
}

.navigation
{
    height: 45px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#main
{
    width: 100%;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
  
  
}

footer
{
    position:fixed;
    bottom: 0;
    width:100%;
    height: 35px;
    background-color:rgb(33, 37, 41);
    text-align: center;
    padding-top: 5px;
    color: white;
    font-size:small;
}

#brand-icon
{
    margin-left: 4px;
}
.col-sm{
	margin: 4px;
}

/* Simbols page */


#main-row{
	margin-top: 50px;
	color: white;
}

.left-column
{
 
    align-items: center;

   
}

.right-column
{
   
    background-color: cadetblue;
}
.simbols-list
{
 
    margin-top: 6px;
    margin-left: 2px;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    overflow-y:scroll;
    
}

.search-simbol-input
{
    align-self:center;
    width: calc(80% - 8px);
    margin-left: 16px;
    margin-right: 4px;
}
.simbol-button
{
   
    width:95%;
    margin: 2px;
    font-size: small;
    
}

.simbol-button:focus
{
    color: orange;
   

}

.simbol-management-buton
{
    font-size: small;
    text-wrap: nowrap ;
}