@font-face {
    font-family: 'HvDTrial_Brandon_Grotesque_light'; 
    src: url("/static/fonts/brandon_grotesque/HvDTrial_Brandon_Grotesque_light.otf") format("opentype");
    font-style: normal;
}

@font-face {
    font-family: 'HvDTrial_Brandon_Grotesque_regular'; 
    src: url("/static/fonts/brandon_grotesque/HvDTrial_Brandon_Grotesque_regular.otf") format("opentype");
    font-style: normal;
}

@media (min-width: 576px)
{
    .modal-dialog {
        max-width: 1000px;
        margin: 1.75rem auto;
    }    
}
/*
@media (min-width: 768px) {
   
    
}
*/
html { 
	visibility:hidden; 
}


body
{
    color: #566787;background-color:rgb(68, 68, 68);
    /*font-family: "Varela Round", sans-serif;*/    
	font-family: "HvDTrial_Brandon_Grotesque_regular";
    font-size: large;
    text-size-adjust: 100%;
    min-width: 375px;
}

.cinzel-400
{
    font-family: 'Cinzel';
    font-size: 1.5em;
    font-weight: 400;
    color:White;
}

.cinzel-800
{
    font-family: 'Cinzel';
    font-size: 5em;
    font-weight: 400;
    color:White;
}

.navigation
{
    height: 45px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: solid white 1px;
}

#main
{
    width: 100%;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
}

footer
{
    position:fixed;
    bottom: 0;
    width:100%;
    height: 50px;
    background-color:rgb(37, 37, 37);
    text-align: center;
    padding-top: 5px;
    color: #7F7F7F;
    font-size:medium;
    padding-top: 3px;
}

.footer-user-name
{
    text-wrap: nowrap ;
}
#brand-icon
{
    margin-left: 4px;
}
.col-sm{
	margin: 4px;
}

/*__________________________________________________________________________
/ Navigation bar styles start                                              /
/__________________________________________________________________________*/

.navbar {
	padding-top: 0 !important;
    padding-bottom: 0 !important;
	background: #ffffff;
	padding-left: 0px;
	padding-right: 0px;
	border-bottom: 1px solid #dfe3e8;
	border-radius: 0;
  }
  
 .navbar .navbar-brand {
	padding-left: 0;
	font-size: 25px;
  
  }
  .navbar .navbar-brand b {
	color: #5c6ac4;		
  }
    
  .navbar .navbar-nav {
	position: relative;
    background-color:rgb(37, 37, 37);
    padding-left: 20px;

  }

  
  
  .navbar a, .navbar a:active {
	color: #888;
	font-size: 17px;
	background: transparent;
  }

  @media (max-width: 768px){
	.navbar .login-form {
        width: 100%;
	    border: none;
	}
   
	.navbar .navbar-nav .btn-secondary, .navbar .navbar-nav .btn-secondary:active {
	  display: block;
	}
  }

  .active{
    color:white;
  }

  #brand-icon{
    margin-left: 16px;
  }

  .navbar-toggler{
    margin-right: 8px;
    margin-bottom: 2px;
    padding: 2px;
   
}

.navbar-dark{
    margin-bottom: 2px;
    
   /* border-color: rgba(255, 255, 255, .3);*/
}
  
  .navbar .btn-secondary, .navbar .btn-secondary:active {
	color: #fff;
	background: #5c6ac4 !important;
	padding-top: 8px;
	padding-bottom: 6px;
	border-radius: 4px;
	vertical-align: middle;
	border: none;
	min-width: 120px;
	margin: 2px 0;
  }
 
  .navbar .nav-item i {
	font-size: 18px;
  }

  .dropdown-menu{
	padding-top: 5px;
  }

  .dropdown-item{
	padding-left: 5px;
	padding-right: 5px;
  }
  /*____________________________________________________________________________/
  / Navigation bar styles end                                                   /
  ______________________________________________________________________________*/

/* Simbols page */


#main-row{
	margin-top: 50px;
	color: white;
}

.left-column
{
    align-items: center;
    /*border: solid white 1px;
    border-radius: 4px;*/
}

.right-column
{
    /*padding-left: 10px;
    border: 1px solid white;*/
    border-radius: 4px;
}

#simbols-search-row
{
    margin: 5px;
    
}
#plots-body
{
    height: calc(100% - 90px);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
    margin: 2px;
    flex-grow: 1;
}

#plots-footer
{
    margin-top: 10px;
    
}
#simbols-list-row
{
    padding-right: 10px;
    height: calc(100% - 115px);
}
.simbols-list
{
    height: 100%;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    overflow-y:scroll;
    overflow-x: hidden;
    margin-left: 5px;
    margin-right: 15px;
    padding-right: 3px;
    border: 1px solid white;
    border-radius: 4px;
}

.simbols-list-border
{
    height:inherit;
    border: 1px solid white;
    border-radius: 4px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 2px;
    margin-left: 4px;
}
    



.simbols-list-header
{
    font-size: large;
    justify-content: center;
    text-wrap:wrap ;
}

.search-simbol-input
{
    align-self:center;
    width: calc(100% - 2px);
    margin-left: 2px;
    
    text-transform: uppercase;
    height: 30px;
    font-size: small;
   
    border-radius: 4px;
}
.simbol-button
{
    background-color: #505050;
    width: 99%;
    margin: 2px;
    font-size: small;

    background-image: url('../images/Red_100x70_gray_small.png');
    background-repeat: no-repeat;
    background-size: 15px 10px;
    background-position: right 10px top 2px;
    
}

.plots-border
{
    height:inherit;
    border: 1px solid white;
    border-radius: 4px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 2px;
    margin-right: 4px;
    
}

#set-warn-levels-row
{
    margin-right: 10px;
}
.warning-level-{
    background-image: none;
}

.warning-level-0{
    background-image: none;
}

.warning-level-1{
    background-image: none;
    /*background-image: url('../images/Gold_100x70_gray_small.png');*/
}

.warning-level-2{
    background-image: none;
    /*background-image: url('../images/Orange_100x70_gray_small.png');*/
}

.warning-level-3{
    background-image: none;
    /*background-image: url('../images/Red_100x70_gray_small.png');*/
}



.simbol-button:focus
{
    color: orange;
}

.simbol-management-buton
{
    font-size:medium;
    text-wrap: nowrap ;
    vertical-align:middle;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.move-simbol-label{
    text-wrap-mode: nowrap;
}

.select-destination-list{
    height:30px;
    font-size: large;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: none;
}
/*_______________________________________________________________________ 
|                                                                        |
|              Forms styles                                              |
|_______________________________________________________________________*/
/* Base form styles */
.base-form {
	background-color: #3a3a3a;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
    margin-bottom: 0px;
	padding-bottom: 0px;
    color: #ffffff;
}

.base-form-header{
    margin-bottom: 20px;
}

.base-form .form-control  {
	border-color: #d5d5d5;
    box-shadow: none;
 	height: 35px;
    outline: none;
    border-radius: 4px  !important;
    transition: all 0.5s;
	font-size: 17px;	
}

.base-form .form-label  {
	border-color: #d5d5d5;
    box-shadow: none;

    outline: none;
    border-radius: 4px  !important;
    transition: all 0.5s;
	font-size: 17px;	
}

.base-form .form-control:focus {
    border-color: #656565;
	border-width: 2px;
    box-shadow: inset;
 
}

.base-form .form-color-control{
    border-color: #7F7F7F;
    outline: none;
    border-radius: 4px  !important;
    transition: all 0.5s;}

.base-form .form-color-control:focus{
    border-width: 2px;
    border-color: #656565;
}

.base-form select{
	padding-top: 0px;
}

.base-form select:focus{
    border-width: 2px;
	border-color: #656565;
    box-shadow: none;
}

.base-form textarea {
    min-height: 50px;
	margin-top: 6px;
	width:100%;
	resize: vertical;
	border-radius: 4px;
}
#btnSubmit, #btnCancel, #btnReset, #btnGetCompanyData, #btnAddOperation
{ 
    background-color: #404040;
    color:#A0A0A0;
    font-size: 17px;
    margin: 2px;
}


#btnSubmit:hover, #btnCancel:hover, #btnReset:hover{
    color:white;
}
.base-footer{
    margin-top: 20px;
}

#login-form{
    width:300px;
    margin-top: 100px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: small;
    
}

#userprofile-form{
    width:400px;
    margin-top: 100px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: small;
}



#settings-form{
    padding-top: 10px;
    padding-left:20px;
    padding-right: 20px;
}

#settings-form input[type="checkbox"]{
    width: 20px;
    height: 20px;
    background-color:#f0f0f0;
    border-color: #656565;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    outline: none;
    box-shadow: none;
}

#settings-form input[type="checkbox"]:focus {
    border-width: 2px;
    border-color: #656565;
}

#settings-form input[type="checkbox"]:checked {
  
  background-color: #606060; 
  box-shadow: none;
     
}

#settings-form .form-control-label{
    text-wrap: wrap;
}

#editsimbol-form{
    margin-top: 80px;
    max-width: 600px;
}
#editsimbol-form h3.form-header{
    padding-top: 20px;
    margin-left: 20px
}

#editsimbol-form label{
    padding-left: 10px;
}
#editsimbol-form .col-sm-3,.col-sm-9{
    padding-right: 15px;
}
/*
input[type="checkbox"]:checked::after {
     content: '';
      position: absolute;
       width: 10px;
        height: 10px;
         top: 4px;
          left: 4px; 
    background-color: #ff0000;  Set the color of the checkmark  
    border-radius: 2px; 
}
*/
.feedback{
	color: orange;
	font-size: large;
    width:100%;
    white-space: nowrap;
}

.parameters-group{
    border:solid white 1px;
    border-radius: 4px;
    padding-left:12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px; 
   
}



.volume-and-rsi-container{
    border:solid red 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.parameters-row{
    --bs-gutter-x: .1rem;
    margin-left: 0px;
    margin-right: 0px;
}
.line-parameters-row{
    padding-left: 4px;
    padding-right: 4px;
    margin: 2px 0px 2px 0px;
}

.parameters-group-header{
    font-style: oblique;
    margin-bottom: 4px;
}
/*=================================================================================*/
.container-parameters-group{
    border:solid white 1px;
    border-radius: 4px;
    padding-left:12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4.px; 
}

.container-commmon-parameters{
    padding-left:0px;
    padding-right: 0px;
}

#settings-form .row{
    --bs-gutter-x:0rem
}

.row-parameters-group{
    border:solid white 1px;
    border-radius: 4px;
    padding-bottom: 4px;
    margin-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
}

.col-parameters-group{
    padding-left: 0px;
    padding-right: 0px;
}
.col-sm-4{
    margin-left: 2px;
    margin-right: 2px;
   width:33.333333%
}

.col-label{
    padding-left: 0px;
}
.col-input{
    padding-left: 0px;
    padding-right: 0px;
}
.delimiter-row{
    height: 4px;
}

.btn-submit{
    text-wrap: nowrap;
}

#btnCancel{
    width: 80px;
}

#btnSubmit{
    width: 80px;
}
#btnReset{
    width: auto;
}

#settings-form{
    margin-bottom: 60px;
}

#settings-form-footer{
    width:100%
}

.empty-row{
    height: 10px;
}

#add-operation-form .row {
    --bs-gutter-x: 0.3rem;;
}

.table-of-operations{
    color: white;
    
}

.table-of-operations thead{
    border-bottom-style: solid;
    border-bottom-color: lightyellow;
    border-bottom-width: 2px;
}

.edit-operation, .delete-operation{
    height: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#addOperationModal .modal-content{
    margin-top: 70px;
    background-color: #7F7F7F;
    color:white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#addOperationModal .modal-header{
    border-bottom: none;
}

#addOperationModal .modal-footer{
    border-top: none;
}