{% extends "base.html" %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-12  text-end">
            <button id="btnAddOperation" 
                    class="btn btn-submit btn-outline-secondary btn-manage-operation">
                Add operation
            </button>
        </div>
    </div>
        
    <div class="row empty-row"></div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-of-operations">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Account</th>
                        <th>Simbol</th>
                        <th>Operation</th>
                        <th>Share price</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for operation in operations %}
                    <tr>
                        <td>{{ operation.date }}</td>
                        <td>{{ operation.account }}</td>
                        <td>{% if operation.type == 0 or operation.type == 1 %}
                                {{ operation.simbol }}
                            {% endif %}
                        </td>
                        <td>
                            {% if operation.type == 0 %}
                                Buy
                            {% elif operation.type == 1 %}
                                Sell
                            {% elif operation.type == 2 %}
                                Deposit
                            {% else %}
                                Withdraw
                            {% endif %}
                        </td>
                        <td>
                            {% if operation.type == 0 or operation.type == 1 %}
                                {{ operation.price }}
                            {% endif %}
                        </td>
                        <td>{{ operation.quantity }}</td>
                        <td>{{ operation.todayprice }}</td>
                        <td style = "width: 140px;">
                            <div class = "btn-manage-operation-container">
                            <button type = "button" 
                                    class="btn btn-secondary  btn-edit-operation"  
                                    data-id="{{ operation.id }}">Edit</button>
                            <button type = "button" 
                                    class="btn btn-secondary btn-delete-operation"
                                    data-id="{{ operation.id }}">Delete</button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</div>

<!-- The Modal "Edit operation" --> 
<div class="modal fade" id="editOperationModal" tabindex="-1" 
     aria-labelledby="editOperationModalTitle" aria-hidden="true"> 
    <div class="modal-dialog"> 
        <div class="modal-content"> 
            <div class="modal-header"> 
                <h5 class="modal-title" id="editOperationModalTitle">New operation</h5>
                    <button type="button" class="btn-close" 
                            data-bs-dismiss="modal" aria-label="Close">
                    </button>
                    <input type = "text" id = "inputOperationId" hidden>
            </div>
            <div class="modal-body">
                <div class = "container">
                    <div class = "row">
                        <div class = "col-lg-3"> <!-- Operation Type -->
                            <label for="inputOperationType">Operation</label>
                            <select id  = "inputOperationType" class="form-select form-control" 
                                    name = "inputOperationType" onchange="inputOperationTypeSelectionChanged()">                                       
                                <option value="0" >Buy shares</option>
                                <option value="1">Sell shares</option>
                                <option value="2" selected>Deposit</option>
                                <option value="3">Withdraw</option>
                            </select>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "col-lg-6"> <!-- Date Account  -->
                            <div class = "row">
                                <div class = "col-md-6">
                                    <label for="inputDate">Date</label>
                                    <input type="date" class="form-control" id="inputDate" name="inputDate" value="{{ today }}">
                                </div>
                                <div class = "col-md-6">
                                    <label for="inputAccount">Account</label>
                                    <select id  = "inputAccount" class="form-select form-control" name = "inputAccount">                                       
                                       {% for account in accounts %}
                                            <option value="{{ account.name}}">{{ account.name }}</option>
                                       {% endfor %} 
                                    </select>
                                </div>
                                
                            </div>
                        </div>
                        <div class = "col-lg-6"> <!-- Symbol Price Amount -->
                            <div class = "row">
                                <div class = "col-md-4" id = "containerSymbol" >
                                    <label for="inputSymbol">Symbol</label>
                                    <input type = "text" id  = "inputSymbol" class="form-control" name = "inputSymbol"> 
                                </div>
                                <div class = "col-md-4">
                                    <label for="inputQuantity" id="inputQuantityLabel">Quantity</label>
                                    <input type="text"  id="inputQuantity" class="form-control" name="inputQuantity">
                                </div>
                                <div  class = "col-md-4" id = "containerPrice">
                                    <label for="inputPrice" id = "inputPriceLabel">Price per share</label>
                                    <input type="text" class="form-control" id="inputPrice" name="inputPrice">
                                </div>              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" 
                        data-bs-dismiss="modal">Close
                </button> 
                <button type="button" class="btn btn-secondary"
                        onclick = "save_operation()">Save</button>
            </div>
            <div class = "modal-message text-center">
                <p id = "modal-message"></p>    
            </div>
        </div>
    </div> 
</div>

<!-- The Modal "Delete operation" -->
<div class="modal fade" id="deleteOperationModal" tabindex="-1" 
aria-labelledby="deleteOperationModalTitle" aria-hidden="true"> 
<div class="modal-dialog"> 
   <div class="modal-content"> 
       <div class="modal-header"> 
           <h5 class="modal-title" id="deleteOperationModalTitle">Delete operation</h5>
               <button type="button" class="btn-close" 
                       data-bs-dismiss="modal" aria-label="Close">
               </button>
       </div>
       
       <div class = "modal-message text-center">
           <p id = "modal-delete-message"></p>    
       </div>
   </div>
</div> 
</div>

<!-- The Modal --> 
<div class="modal fade" id="myModal" tabindex="-1" 
     aria-labelledby="exampleModalLabel" aria-hidden="true"> 
    <div class="modal-dialog"> 
        <div class="modal-content"> 
            <div class="modal-header"> 
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" 
                            data-bs-dismiss="modal" aria-label="Close">
                    </button>
            </div>
            <div class="modal-body">
                This is the modal content. 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" 
                        data-bs-dismiss="modal">Close
                </button> 
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div> 
</div>
    
{% endblock %} 


{% block script %}
    <script>

        $("#btnAddOperation").click(function() 
        {
            show_edit_operation_dialog(-1)                   
        });

        $(".btn-delete-operation").click(function() 
        {
            var rowid = $(this).data("id");
                               
            var data = { rowid: rowid };
            $.ajax({
                    type: "POST",
                    url: "/delete_operation",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success: function(response,result,status)
                    {
                        if (response.processed)
                        {
                            setTimeout(closeDeleteOperationModal, 3000);
                            var myModal = new bootstrap.Modal(document.getElementById('deleteOperationModal'),{ keyboard: false });
                            myModal.show();
                        }
                        $("#modal-delete-message").text(response.description)
                    },
                    error: function(result,status)
                    {   
                        message = "<p>" + "Something get wrong."+ "</p> <p>Result:" + result.responseText + "</p><p>Status:" + status + "</p>"
                        $("#modal-delete-message").html(message)
                    }
                    });
        });

       
        $(".btn-edit-operation").click(function() 
        {
            show_edit_operation_dialog($(this).data("id"))                    
        });
            

        function adoptEditOperationDialod(operationType)
        {
            $("#inputOperationType").val(operationType)
            switch (operationType)
                {
                    case "0":
                    case "1": $("#containerSymbol").show();
                              $("#containerPrice").show(); 
                              $("#inputQuantityLabel").text("Quantity")
                              break;
                    case "2":
                    case "3": $("#containerSymbol").hide();
                              $("#containerPrice").hide(); 
                              $("#inputQuantityLabel").text("Amount"); 
                              $("#inputPrice").val("1")
                              break;
                }
        }

        function show_edit_operation_dialog(rowid){
            $("#inputOperationId").val(rowid)
           
            if (rowid == -1)
            {
                $('#inputOperationType').prop('disabled', false);
                $("#editOperationModalTitle").text("New operation")
                adoptEditOperationDialod(0)
            }
            else
            {
                $("#editOperationModalTitle").text("Edit operation")
                $('#inputOperationType').prop('disabled', true);
                // Request operaton data  
                var data = { rowid: rowid };
                $.ajax({
                        type: "POST",
                        url: "/get_operation_data",
                        data: JSON.stringify(data),
                        contentType: "application/json",
                        success: function(response,result,status)
                        {
                            if (response.processed)
                            {
                                // Fill up dialog fields with operation data
                                $("#inputDate").val(response.operationdata.date);
                                $("#inputAccount").val(response.operationdata.account);
                                $("#inputSymbol").val(response.operationdata.simbol);
                                $("#inputOperationType").val(response.operationdata.type);
                                $("#inputQuantity").val(response.operationdata.quantity)
                                $("#inputPrice").val(response.operationdata.price);

                                adoptEditOperationDialod(response.operationdata.type)
                            }
                        },
                        error:  function(result,status)
                        {   
                            message = "<p>" + "Something get wrong."+ "</p> <p>Result:" + result.responseText + "</p><p>Status:" + status + "</p>"
                            $("#modal-delete-message").html(message)
                        }
                    });
            }
            
            var myModal = new bootstrap.Modal(document.getElementById('editOperationModal'),
                                             { keyboard: false });
            myModal.show();
       }

       function inputOperationTypeSelectionChanged()
       {
            adoptEditOperationDialod($("#inputOperationType").val())
       }
       
       function save_operation()
       {
        
            var rowid =  $("#inputOperationId").val()
            var date = $("#inputDate").val();
            var account = $("#inputAccount").val();
            var symbol = $("#inputSymbol").val();
            var operationType = $("#inputOperationType").val();
            var price = $("#inputPrice").val();
            var quantity = $("#inputQuantity").val();

            var data = {
                rowid: rowid,
                date: date,
                account: account,
                symbol: symbol,
                operationType: operationType,
                price: price,
                quantity: quantity
            };

            $.ajax({
                type: "POST",
                url: "/save_operation",
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function(response,result,status){
                    console.log(response);
                    if (response.processed)
                    {
                        setTimeout(closeEditOperationModal, 2000);
                    }
                    $("#modal-message").text(response.description)
                },
                error: function(result,status)
                {
                    console.log(response,result,status);
                    message = "<p>" + "Something get wrong."+ "</p> <p>Result:" + result.responseText + "</p><p>Status:" + status + "</p>"
                    $("#feedback").html(message)
                }
            });
            
       }
       
       function closeEditOperationModal(){
            $("#editOperationModal").modal('hide');
            location.reload();
       }

       function closeDeleteOperationModal(){
            $("#deleteOperationModal").modal('hide');
            location.reload();
       }
    </script>

{% endblock %}