<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- Required meta tags -->
        <meta http-equiv="content-type" content="text/html" charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Alexander Ziuzin Selected works" />
	    <meta name="keywords" content="art artworks wotercolor graphic" />
        <meta name="theme-color" content="#7952b3">
        <!-- Import the Bootstarp stylesheet -->
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
        <!-- Import site stylesheet -->
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <!-- Import fonts
        <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" >
 -->
    	<title>Alexander Ziuzin graphics and watercolors</title>
        
	</head>
    <body >
      <header class="container-sm">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" >   
          <a class="navbar-brand cinzel-400" href="#">AZ</a>
          <button type="button" class="navbar-toggler"  
                        data-bs-toggle="collapse" 
                        data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
            <ul class="navbar-nav">
              <li class = "nav-item">
                <a class="nav-link {% if pageName == 'Home' %} active {% endif %}" aria-current="page" href="/">Home</a>
              </li>
              <li class = "nav-item">
                <a class="nav-link {% if pageName == 'Works' %} active {% endif %}" href="/works">Selected works</a>
              </li>
              <li class = "nav-item">
                <a class="nav-link {% if pageName == 'Contacts' %} active {% endif %}" href="/contacts">Contacts</a>            
              </li>
              <!-- Galleries menu -->
              <li class = "nav-item dropdown">
                <a class="nav-link dropdown-toggle href="#"
                   id="navbarDropdownGalleries" role="button" data-bs-toggle="dropdown" 
                   aria-expanded="false">Galleries</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownGalleries">
                  {% for gallery in galleries %}
                    <li><a class="dropdown-item" href="/gallery?galleryid={{gallery.id}}">{{ gallery.name}}</a></li>
                  <!--
                    <li><a class="dropdown-item" href="/displayartworks">Edit list of artworks</a></li>
                  <li><a class="dropdown-item" href="/displaygallerieslist#">Edit list of galleries</a></li>
				          <li><hr class="dropdown-divider"></li>
				          <li><a class="dropdown-item" href="#">Something else here</a></li>
                  -->
                  {% endfor %}
                </ul>
              </li>
              
              <!-- Admin menu-->
              {% if user %}
              <li class = "nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if pageName == 'Admin' %} active {% endif %}" href="#"
                   id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/displayartworks">Edit list of artworks</a></li>
                  <li><a class="dropdown-item" href="/displaygallerieslist">Edit list of galleries</a></li>
				          <li><hr class="dropdown-divider"></li>
				          <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class = "nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
              {% endif %}   
                     
            </ul>  
            <!-- Hide login menu item and login form 
            <div class="navbar-nav action-buttons ml-auto">
              <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle mr-3">Login</a>
              <div class="dropdown-menu login-form" >
                <form action="/admin" method="post">
                  <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" required="required">
                  </div>
                  <div class="form-group">
                    <div class="clearfix">
                      <label>Password</label>
                      <a href="#" class="float-right text-muted"><small>Forgot?</small></a>
                     </div>                            
                     <input type="password" class="form-control" required="required">
                    </div>
                    <input type="submit" class="btn btn-secondary btn-block" value="Login">
                </form>	
              </div>				
            </div>	
                      -->
          </div>
        </nav>
      </header>
      <main id="main">
          {% block main %}
          {% endblock %}
      </main>
      <footer class = "d-flex align-items-center">
        <div  class = "container">
          <div class = "row ">
            <div class = "col-sm-2"></div> 
            <div class = "col-sm-8"> © 2022 by Alexander Ziuzin </div>
            <div class = "col-sm-2 ml-auto">{% if user %}Logged as {{user}}{% endif %}</div>
          </div>
        </div>
      </footer>
    

  <!-- Import jquerry -->
  <script src = "/static/js/jquery-3.6.0.min.js"></script>  
  <!-- Import Bootstrap js -->
  <script  src = "/static/js/bootstrap.bundle.min.js"></script>
  <script src = "/static/js/bootstrap.min.js"></script>
  <!-- Import site scripts -->
  <script src ="/static/js/app.js"></script>
  <script>
     $(document).ready(function()
    {
	      $("html")[0].style.visibility = "visible";
    });

  </script>
        {% block script %}
        {% endblock %}
    </body>
</html>