<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- Required meta tags -->
        <meta http-equiv="content-type" content="text/html" charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Alexander Ziuzin Selected works" />
	    <meta name="keywords" content="art artworks wotercolor graphic" />
        <meta name="theme-color" content="#7952b3">
        <!-- Import the Bootstarp stylesheet -->
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
        <!-- Import site stylesheet -->
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <!-- Import fonts
        <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" >
 -->
    	<title>Alexander Ziuzin graphics and watercolors</title>
        
	</head>
    <body >
        Hello
    </body>
</html>