{% extends "base.html" %}

{% block main %}

<div id="LoginDialog" class = "container dialog">
    
    <form id = "login-form" class = "base-form" action="/login" method="POST">
        <h4 class = "base-form-header">Login</h4>   
        <div class = "container">
            <div class = "row" >    
                <div class = "col-sm-12">         
                    <input  type="text" class="form-control col-sm" id="inputUserName" 
                            name="inputUserName" placeholder="User name" required>
                </div>
            </div>
            <div class = "row">
                <div class = "col-sm-12">
                    <input  type="password" class="form-control  col-sm" id="inputPassword"
                            name="inputPassword" placeholder="Password" required>
                </div>   
            </div>
        </div>
        
        <div class="base-footer  container-fluid">
            <div class = "row "> 
                <div class="col-sm-12 d-flex float-end"> 
                        <button id="btnCancel" class="btn btn-submit btn-outline-secondary" type="reset">Cancel</button>
                        <button id="btnSubmit" type="submit" class="btn btn-submit btn-outline-secondary">Login</button>
                </div>      
            </div>
            <div class = "row">
                <div class = "col-sm-12 d-flex  justify-content-center">
                    <p class = "feedback">&nbsp{{loginRes}}</p>
                </div>
            </div> 
        </div>
    </form>

</div>
{% endblock %}