{% extends "base.html" %}

{% block main %}

<div class="container-md">
    <div id ="manage-symbols-page-header" class = 'container-md'>
        <h2>Manage symbols&nbsp&nbsp&nbsp</h2>
        <div class = "d-flex justify-content-end" >  
            <div style = "padding-top: 3px;">Search symbol&nbsp&nbsp</div>
            <input id = "simbol-search" type="text" class = "form-control search-simbol-input" 
                    placeholder="Type symbol" style = "width: 120px;">
            <div style="width: 40px;"></div>
            <div class = "d-flex" style = "padding-right: 5px;">
                <button type="button" 
                        class="btn btn-secondary justify-content-end symbol-manage-page-button" 
                        data-bs-toggle="modal" data-bs-target="#editSymbolModal">
                    Add symbol
                </button>
            </div>
        </div>
    </div>
    <table class="table fixed-header-table symbols_table">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Title</th>
                <th scope="col">Sector</th>
                <th scope="col">Industry</th>
                <th scope="col">Country</th>
                <th scope="col">Fund</th>
            </tr>
        </thead>
        <tbody>
            {% for symbol in symbols %}
            <tr data-toggle="collapse" data-target="#{{symbol.simbol}}" class="accordion-toggle">
                <th scope="row" class = "simbol-row">{{ symbol.simbol }}</th>
                <td>{{ symbol.title }}</td>
                <td>{{ symbol.sector }}</td>
                <td>{{ symbol.industry }}</td>
                <td>{{ symbol.country }}</td>
                <td>{{ symbol.isfund }}</td>
            </tr>
            <tr class = "accordion-content">
                <td colspan="6" class="hiddenRow">
                    <div class="accordion-body collapse" id="{{symbol.simbol}}">
                        <div class = "d-flex justify-content-end">
                        <div id = "{{symbol.simbol}}-source-list">Move symbol from
                            {% if symbol.listtype == None %}unselected{% endif %}
                            {% if symbol.listtype == 1 %}portfolio{% endif %}
                            {% if symbol.listtype == 2 %}watchlist{% endif %}
                            {% if symbol.listtype == 3 %}shortlist{% endif %}
                            to</div>
                        <select id  = "{{symbol.simbol}}-select-dest-list" 
                                class="form-select form-control select-dest-list">                         
                            <option value="0" selected>Unselected</option>                                       
                            <option value="1" selected>Portfolio</option>                                       
                            <option value="2" selected>Watchlist</option>                                       
                            <option value="3" selected>Shortlist</option>                                           
                        </select>
                        <button id  = "{{symbol.simbol}}-move-button" type="button" 
                                class="btn btn-secondary symbol-manage-page-button move-simbol-button" 
                                data-symbol="{{symbol.simbol}}"
                                {% if symbol.listtype == None %}
                                    data-sourcelist = "0"
                                {% else %}
                                    data-sourcelist = "{{symbol.listtype}}"
                                {% endif %}>
                                Move</button>
                        <div style="width: 40px;"></div>
                        <button type="button" class="btn btn-secondary symbol-manage-page-button"
                                data-simbol="{{ symbol.simbol }}"
                                onclick = "delete_symbol()">Delete symbol</button>
                        </div>
                    </div>
                    <div id = "{{symbol.simbol}}-message-placeholder" class = "message-placeholder"></div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<!-- The Modal "Edit symbol data" --> 
<div class="modal fade" id="editSymbolModal" tabindex="-1" 
     aria-labelledby="editSymbolModalTitle" aria-hidden="true"> 
    <div class="modal-dialog"> 
        <div class="modal-content"> 
            <div class="modal-header"> 
                <h5 class="modal-title" id="editSymbolModalTitle">Edit symbol data</h5>
                    <button type="button" class="btn-close" 
                            data-bs-dismiss="modal" aria-label="Close">
                    </button>
                    <input type = "text" id = "inputSymbol" hidden>
            </div>
            <div class="modal-body">
                <div class = "container">
                    <div class = "row">
                        <div class = "col-lg-3"> <!-- Operation Type -->
                            <label for="inputOperationType">Operation</label>
                            <select id  = "inputOperationType" class="form-select form-control" 
                                    name = "inputOperationType" onchange="inputOperationTypeSelectionChanged()">                                       
                                <option value="0" >Buy shares</option>
                                <option value="1">Sell shares</option>
                                <option value="2" selected>Deposit</option>
                                <option value="3">Withdraw</option>
                            </select>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "col-lg-6"> <!-- Date Account  -->
                            <div class = "row">
                                <div class = "col-md-6">
                                    <label for="inputDate">Date</label>
                                    <input type="date" class="form-control" id="inputDate" name="inputDate" value="{{ today }}">
                                </div>
                                <div class = "col-md-6">
                                    <label for="inputAccount">Account</label>
                                    <select id  = "inputAccount" class="form-select form-control" name = "inputAccount">                                       
                                       {% for account in accounts %}
                                            <option value="{{ account.name}}">{{ account.name }}</option>
                                       {% endfor %} 
                                    </select>
                                </div>
                                
                            </div>
                        </div>
                        <div class = "col-lg-6"> <!-- Symbol Price Amount -->
                            <div class = "row">
                                <div class = "col-md-4" id = "containerSymbol" >
                                    <label for="inputSymbol">Symbol</label>
                                    <input type = "text" id  = "inputSymbol" class="form-control" name = "inputSymbol"> 
                                </div>
                                <div class = "col-md-4">
                                    <label for="inputQuantity" id="inputQuantityLabel">Quantity</label>
                                    <input type="text"  id="inputQuantity" class="form-control" name="inputQuantity">
                                </div>
                                <div  class = "col-md-4" id = "containerPrice">
                                    <label for="inputPrice" id = "inputPriceLabel">Price per share</label>
                                    <input type="text" class="form-control" id="inputPrice" name="inputPrice">
                                </div>              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" 
                        data-bs-dismiss="modal">Close
                </button> 
                <button type="button" class="btn btn-secondary"
                        onclick = "save_symbol_data()">Save</button>
            </div>
            <div class = "modal-message text-center">
                <p id = "modal-message"></p>    
            </div>
        </div>
    </div> 
</div>

<!-- The Modal "Delete delete" -->
<div class="modal fade" id="deleteSymbolModal" tabindex="-1" 
aria-labelledby="deleteSymbolModalTitle" aria-hidden="true"> 
<div class="modal-dialog"> 
   <div class="modal-content"> 
       <div class="modal-header"> 
           <h5 class="modal-title" id="deleteSymbolModalTitle">Delete symbol</h5>
               <button type="button" class="btn-close" 
                       data-bs-dismiss="modal" aria-label="Close">
               </button>
       </div>
       
       <div class = "modal-message text-center">
           <p id = "modal-delete-message"></p>    
       </div>
   </div>
</div> 
</div>


    
{% endblock %} 


{% block script %}
    <script>

    const search_smb = document.getElementById('simbol-search');
      
    search_smb.addEventListener('input', function(event)
      {
        var elements = [];
        $('.simbol-row').each(function() {
                    elements.push($(this).text());
                    if ($(this).text().substring(0, event.target.value.length) == event.target.value.toUpperCase())
                    {
                        $(this)[0].scrollIntoView({ block: 'center', behavior: 'instant' });
                        //$('#target-element')[0].scrollIntoView({ behavior: 'smooth' });
                        $(this).parent().css('backgroundColor', '#606060')
                        //item.style.backgroundColor = "#606060";
                    }
                    else
                    {
                        $(this).parent().css('backgroundColor',"#444444");
                    }
                }); 
                      
                
                /*
          // Convert the HTMLCollection to an array and log each item
          Array.from(items).forEach(item => {
              button_text = item.textContent.trim()
              if (button_text.substring(0, event.target.value.length) == event.target.value.toUpperCase())
              {
                  item.scrollIntoView({ block: 'center', behavior: 'instant' });
                  item.style.backgroundColor = "#606060";
              }
              else
              {
                  item.style.backgroundColor = "#505050";
              }
                                                                                             
  
          });
          */
      })

function delete_symbol()
{
    var symbol = event.target.getAttribute('data-simbol');
    var modal = new bootstrap.Modal(document.getElementById('deleteSymbolModal'), {});
    document.getElementById('modal-delete-message').innerHTML = "Delete symbol " + symbol + "?";
    modal.show();
}


$(".move-simbol-button").click(function() 
        {
            var symbol = $(this).data("symbol");
            var sourcelist = $(this).data("sourcelist");
            var selectElement = document.getElementById(symbol+'-select-dest-list');
            var targetlist = parseInt(selectElement.value, 10);
            move_simbols_between_lists(symbol, sourcelist, targetlist)
        });

 /*_______________________________________________________________________
    | Request server for adding or delete simbol to or from specified list
    | Parameters:
    |   simbol - simbol name to add or delete
    |   targetlist   - list of simbols which operation wil be performed on
    |           Listtypes
    |               0 - unselected
    |               1 - portfolio
    |               2 - watchlist
    |               3 - shortlist
    |   operation   - "add" - add or "del" - delete simbol, "mov" - move simbol from sorce list to target list
    |___________________________________________________________________________*/
   
    function move_simbols_between_lists(symbol, sourcelist, targetlist)
    {
        if (symbol.length == 0)
        {
            alert("No selected symbols.")
            return
        }
        
        if (sourcelist == targetlist)
        {
            $("#"+symbol+"-message-placeholder").text("Source and target lists can't be the same.")
            return
        }
        server_request_data = 
        [
            {
                "symbol":symbol,
                "sourcelist":sourcelist,
                "targetlist":targetlist,
            }
         ]
        
        $.ajax(
            {
                type: "POST",
                url: "/move_simbols_between_lists",
                data: JSON.stringify(server_request_data),
                contentType: "application/json",
                dataType: "json",
                success: function(result)
                {
                    if (result.processed == "true")
                    {
                        sourcelistname = list_type_to_list_name(sourcelist)
                        targetlistname = list_type_to_list_name(targetlist)
                        $("#" + symbol + "-source-list").html("Move symbol from " + targetlistname + " to")
                        $("#" + symbol + "-move-button").data("sourcelist", targetlist)
                        message = "Symbol " + symbol + " successfully moved to " + targetlistname + "."
                        $("#" + symbol + "-message-placeholder").text(message)
                    }
                    else
                    {
                        $("#" + symbol + "-message-placeholder").text("Error: " + result.error_descr)
                    }
                },
                error: function(result,status)
                {
                    message = "Something get wrong. " + "Result:" + result + " Status:" + status + "</p>"
                    $("#" + symbol + "-message-placeholder").text(message)
                }

            }
        );
    }
    
    function list_type_to_list_name(listtype)
    {
        switch(listtype)
        {
            case 0: return "unselected";
            case 1: return "portfolio";
            case 2: return "watchlist";
            case 3: return "shortlist";
        }
    }
    </script>

{% endblock %}