{% extends "base.html" %}

{% block main %}
<div class = "container-fluid">
    <div id = "main-row" class = "row">
        <div class = "col-sm-2 left-column">
            <div class = "row simbols-list-header">
                {% if listtype == "unselected" %}
                 Unselected simbols   
                {% endif %}
                {% if listtype == "watchlist" %}
                 Watchlist   
                {% endif %}
                {% if listtype == "portfolio" %}
                 Portolio  
                {% endif %}
            </div>
            <div class = "row">
                <input id = "simbol-search" type="text" class = "form-control search-simbol-input" 
                    placeholder="Type simbol">
            </div>
            <div class = "row">
                <div class = "col-sm simbols-list-border" >
                <ul id = "list-of-simbols" class = "simbols-list">
                    {% for simbol in simbols %}
                    <li>
                        <button type="button" class="btn  btn-secondary shadow-none simbol-button" onclick="simbol_button_click(event)">
                            {{simbol.simbol}}
                        </button>
                    </li>
                    {% endfor %}
                </ul>
                </div>
            </div>
        </div>
        <div class = "col-sm-10 right-column">
            <div id = "plots-header" class = "row">
                Plots header
            </div>
            <div id = "plots-body" class = "row">
                Plots header
            </div>
            <div id = "plots-footer" class = "row">
                <div class = "col-sm">
                    <div class="float-end">
                        {% if listtype == "unselected" %}
                        <button type="button" class="btn btn-secondary shadow-none simbol-management-buton" onclick="add_simbol_to_watchlist_button_click()">
                            Add simbol to watchlist
                        </button>
                        <button type="button" class="btn btn-secondary shadow-none simbol-management-buton" onclick="add_simbol_to_portfolio_button_click()">
                            Add simbol to portfolio
                        </button>
                        {% endif %}

                        {% if listtype == "watchlist" %}
                        <button type="button" class="btn btn-secondary shadow-none simbol-management-buton" onclick="remove_simbol_from_watchlist_button_click()">
                            Remove simbol from watchlist
                        </button>
                        <button type="button" class="btn btn-secondary shadow-none simbol-management-buton" onclick="add_simbol_to_portfolio_from_watchlist_button_click()">
                            Add simbol to portfolio
                        </button>
                        {% endif %}

                        {% if listtype == "portfolio" %}
                        <button type="button" class="btn btn-secondary shadow-none simbol-management-buton" onclick="remove_simbol_from_portfolio_button_click()">
                            Remove simbol from portfolio
                        </button>
                        <button type="button" class="btn btn-secondary shadow-none simbol-management-buton" onclick="move_simbol_from_portfolio_to_watchlist_button_click()">
                            Move simbol to watchlist
                        </button>
                        {% endif %}
                    </div>
            </div>
        </div>
    </div>
</div>
 <!--

-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Ajust size of images to inner browser window.
    const MAIN_AREA_AJUSTMENT = 150
    window.onload = function()
    {
        set_main_row_heigh();
    }
       
    var timer_id;
    window.onresize = function()
    {
        clearTimeout(timer_id);
        timer_id = setTimeout(function() 
        {
            set_main_row_heigh();
          }, 150);
    
    };

    function set_main_row_heigh()
    {
        main_row_height = window.innerHeight - 200
        list_of_simbols_height = main_row_height
        if (window.innerWidth > 575)
        {             
            $("#list-of-simbols").css("max-height", list_of_simbols_height)
        }
        else
        {
            $("#list-of-simbols").css("max-height", list_of_simbols_height / 2)         
        }
    }

    const search_smb = document.getElementById('simbol-search');
      
    search_smb.addEventListener('input', function(event)
    {
        simbols_list = document.getElementById('list-of-simbols');
        items = simbols_list.getElementsByTagName("button")
        // Convert the HTMLCollection to an array and log each item
        Array.from(items).forEach(item => {
            button_text = item.textContent.trim()
            if (button_text.substring(0, event.target.value.length) == event.target.value.toUpperCase())
            {
                item.scrollIntoView({ block: 'end', behavior: 'smooth' });
                return
            }
        });
    })
    
    CURRENT_SIMBOL=""

     /*_______________________________________________________________________
    | Request server for carculating indicators and build plots
    | Parameters:
    |   simbol - simbol for calcutation indicatoer for
    |___________________________________________________________________________*/
    function simbol_button_click(event)
    {
        CURRENT_SIMBOL = event.target.innerText
               
        server_request_data = 
        [
            {
                "simbol":event.target.innerText,
            }
         ]

         $.ajax(
            {
                type: "POST",
                url: "/calculate_indicators",
                data: JSON.stringify(server_request_data),
                contentType: "application/json",
                dataType: "json",
                success: function(result)
                {
                    if (result.processed == "true")
                    {
                        // Insert handling results of request here
                        $("#plots-body").html("<p style = 'font-size:xx-large'>" + result.message + "</p>")
                    }
                    else
                    {
                        $("#plots-body").html("<p style = 'font-size:xx-large'>" + result.error_descr + "</p>")
                    }
                },
                error: function(result,status)
                {
                    message = "<p>" + "Something get wrong."+ "</p> <p>Result:" + result + "</p><p>Status:" + status + "</p>"
                    $("#plots-body").html(message)
                    
                }

             }
        );

    }

    /*_______________________________________________________________________
    | Request server for adding or delete simbol to or from specified list
    | Parameters:
    |   simbol - simbol name to add or delete
    |   targetlist   - list of simbols which operation wil be performed on
    |           Listtypes
    |                  0 - unselected
    |                  1 - portfolio
    |                  2 - watchlist
    |   operation   - "add" - add or "del" - delete simbol, "mov" - move simbol from sorce list to target list
    |___________________________________________________________________________*/
    function move_simbols_between_lists(simbol, sourcelist, targetlist)
    {
        if (simbol.length == 0)
        {
            alert("No selected simbols.")
            return
        }
        
        server_request_data = 
        [
            {
                "simbol":simbol,
                "sourcelist":sourcelist,
                "targetlist":targetlist,
            }
         ]
        
        $.ajax(
            {
                type: "POST",
                url: "/move_simbols_between_lists",
                data: JSON.stringify(server_request_data),
                contentType: "application/json",
                dataType: "json",
                success: function(result)
                {
                    if (result.processed == "true")
                    {
                        listname = ""
                        switch(targetlist)
                        {
                            case 0: listname = "unselected"; break;
                            case 1: listname = "portfolio"; break;
                            case 2: listname = "watchlist"; break;
                        }
                        message = "Symbol " + simbol + " successfully moved to " + listname + "."
                        $("#plots-body").html("<p style = 'font-size:xx-large'>" + message + "</p>")
                        delete_current_simbol_from_the_list(simbol)
                    }
                    else
                    {
                        $("#plots-body").html("<p style = 'font-size:xx-large'>" + result.error_descr + "</p>")
                    }
                },
                error: function(result,status)
                {
                    message = "<p>" + "Something get wrong."+ "</p> <p>Result:" + result + "</p><p>Status:" + status + "</p>"
                    $("#plots-body").html(message)
                    
                }

             }
        );
    }

    function add_simbol_to_watchlist_button_click()
    {
        
        move_simbols_between_lists(CURRENT_SIMBOL, 0, 2)
    }

    function add_simbol_to_portfolio_button_click()
    {
        move_simbols_between_lists(CURRENT_SIMBOL, 0, 1)
    }

    function add_simbol_to_portfolio_from_watchlist_button_click()
    {
        move_simbols_between_lists(CURRENT_SIMBOL, 2, 1)
    }

    function remove_simbol_from_watchlist_button_click()
    {
        move_simbols_between_lists(CURRENT_SIMBOL, 2, 0)
    }

    function remove_simbol_from_portfolio_button_click()
    {
        move_simbols_between_lists(CURRENT_SIMBOL, 1, 0)
    }

    function move_simbol_from_portfolio_to_watchlist_button_click()
    {
        move_simbols_between_lists(CURRENT_SIMBOL, 1, 2)
    }

    /*___________________________________________________________________________
    |  
    |   Delete simbol button from the list on the left side of page
    |____________________________________________________________________________*/
    function delete_current_simbol_from_the_list(simbol)
    {
        simbols_list = document.getElementById('list-of-simbols');
        items = simbols_list.getElementsByTagName("button")
        // Convert the HTMLCollection to an array and log each item
            
        Array.from(items).forEach(item => {
            button_text = item.textContent.trim()
            if (button_text == simbol)
            {
                item.parentElement.removeChild(item);
                return
           }
        });
    }

</script>

{% endblock %}