{% extends "base.html" %}

{% block main %}
<div class = "container-fluid">
    <div id = "main-row" class = "row">
        <div class = "col-sm-2 left-column">
            <div class = "row">
                <input id = "simbol-search" type="text" class = "form-control search-simbol-input" 
                    placeholder="Type simbol">
            </div>
            <div class = "row">
                <ul id = "list-of-simbols" class = "simbols-list">
                    {% for simbol in simbols %}
                    
                        <button type="button" class="btn  btn-secondary shadow-none simbol-button">
                            {{simbol.simbol}}
                        </button>
                    
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class = "col-sm-10 right-column">
            <div class = "row">
                &nbsp
            </div>
            <div class = "row">
                <div class = "col-sm">
                    <div class="float-end">
                        <button type="button" class="btn btn-secondary shadow-none simbol-management-buton">
                            Add simbol to wachlist
                        </button>
                        <button type="button" class="btn btn-secondary shadow-none simbol-management-buton">
                            Add simbol to portfolio
                        </button>
                    </div>
            </div>
        </div>
    </div>
</div>
 <!--

-->
<script>
    // Ajust size of images to inner browser window.
    const MAIN_AREA_AJUSTMENT = 115
    window.onload = function()
    {
        main_row_height = window.innerHeight - MAIN_AREA_AJUSTMENT
        list_of_simbols_height = main_row_height - 40
        $("#main-row").css("height", main_row_height)
        $("#list-of-simbols").css("height", list_of_simbols_height)
    }
       
    var timer_id;
    window.onresize = function()
    {
        clearTimeout(timer_id);
        timer_id = setTimeout(function() 
        {
            main_row_height = window.innerHeight - MAIN_AREA_AJUSTMENT
            list_of_simbols_height = main_row_height - 40
            $("#main-row").css("height", main_row_height)
            $("#list-of-simbols").css("height", list_of_simbols_height)
        }, 150);
    };

    const search_smb = document.getElementById('simbol-search');
      
    search_smb.addEventListener('input', function(event)
    {
             simbols_list = document.getElementById('list-of-simbols');
            items = simbols_list.getElementsByTagName("button")
            // Convert the HTMLCollection to an array and log each item
            Array.from(items).forEach(item => {
                button_text = item.textContent.trim()
                if (button_text.substring(0, event.target.value.length) == event.target.value.toUpperCase())
                {
                    item.scrollIntoView({ block: 'end', behavior: 'smooth' });
                    return
                }
            });
    })
        
</script>

{% endblock %}